@inherits LayoutComponentBase
@layout AccountLayout

<section id="account-details">

    <div class="container">

            <Frontend.Components.Sections.SideBar user="user" />
        <div class="form-content">
            @Body
        </div>

    </div>

</section>

@code{
    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();
    }

    private async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    }
}