@inherits LayoutComponentBase
@layout AccountLayout

<section id="account-details">

    <div class="container">

            <Frontend.Components.Sections.SideBar />
        <div class="form-content">
            @Body
        </div>

    </div>

</section>
